services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: ai_backend
    volumes:
      - ./storage:/app/storage
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: ai_ui
    ports:
      - "8501:8501"
    depends_on:
      - backend